# dev files
deprecated/

# build
build/
gen10.egg-info
.venv
gen10/__pycache__
dist/

# IDE
.idea/

# testing
.pytest_cache
tests/__pycache__
.gen10/Results.csv

.DS_Store
gen_api/.DS_Store

alphafold_protein__structure_prediction.pdb
alphafold_protein_structure_prediction.pdb
